{% extends "base.html" %}
{% load l10n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}

<div class="container">
{% include "messages.html" %}

        <ul class="breadcrumb">
            <li><a href="{% url "containerview" %}">容器</a></li> 
       </ul> 

<form method="POST" action="{% url "create_container" %}" class="form-horizontal">
    <fieldset>
    <legend>创建新容器</legend>
    {% csrf_token %}
  
    <div class="control-group">
        <label class="control-label" for="foldername">容器名</label>
        <div class="controls">
            <input id="containername" name="containername" class="input-xlarge" type="text" placeholder="容器名">
            <span class="help-block">
                请在此输入您的容器名<br>
                请注意，您在创建后不能对此容器重命名
            </span>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">创建</button>
        <a href="{% url "containerview" %}" class="btn" >取消</a>
         </div>
    </div>
  </fieldset>
</form>
</div>

{% endblock %}
